.DS_Store
Thumbs.db

# GTK stuff
menus
inkscape
wireshark
fontforge
gtk-2.0

asciinema
configstore
fisherman
/gh
/amfora
/kitty
/licensezero
/restic
/rust-analyzer
/conductor
/git/gitk

fish/*
!fish/install.fish
!fish/config.fish
!fish/fishfile

npm/npmrc

gcloud
vim
